<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership!</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body style="text-align: center; padding-top: 50px; background-color: #87CEEB;">
    @using ParcelSolution.Models;

    <h1><u>Your package dimensions:</u></h1>
    <ul style="list-style: none; padding-top: 20px; margin-top: 20px;">
      @foreach (Parcels parcel in Model)
      {
      <li>Length: @parcel.Length</li>
      <li>Depth: @parcel.Depth</li>
      <li>Width: @parcel.Width</li>
      <li>Volume: @parcel.Volume</li>
      <li>Weight: @parcel.Weight</li>
      <li>Your total cost is: @parcel.CostToShip()$</li>
      }
    </ul>
    

    
    <a href="/parcels/new">Add a new package!</a>
  </body>